<ion-header [translucent]="true">
  <ion-toolbar class="barra">
    <ion-title>Perfil del usuario</ion-title>
    
    <ion-buttons slot="start" (click)="principal()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo">
  <ion-card>
      <h1>Tus datos</h1>
    <ion-card-content>
      <p>Correo: {{correo}}</p>
      <p>Nombre: {{nombre}}</p>
      <p>Apellido: {{apellido}}</p>
      <p>Carrera: {{carrera}}</p>
    </ion-card-content>
  </ion-card>

  <p><u>Cambio de información</u></p>


  <ion-item class="input-container" lines="none">
    <ion-input class="input" [(ngModel)]="mdl_contrasena_nueva" label="Contraseña nueva" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item class="input-container" lines="none">
    <ion-input class="input" [(ngModel)]="mdl_carrera_nueva" label="Carrera nueva" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-button expand="block"  class="boton" (click)="cambiarInfoUsuario()"> 
    Cambiar datos
  </ion-button>

  <ion-item class="item-warning" lines="none" *ngIf="mostrar_mensaje">
    {{ mensaje }}
  </ion-item>

</ion-content>